.projects__title {
  margin-left: 450px;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 100;
  color: white;
  cursor: pointer;
  transition: all 1s;
}

.projects__title:hover {
  text-decoration: underline;
}

.projects-container {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-item {
  margin: 10px;
  text-align: center;
}

.video {
  max-width: 600px;
}
