.contact {
  margin-bottom: 150px;
}

.contact__title {
  margin-left: 450px;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 100;
  color: white;
}

.contact-methods {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.input-field {
  margin: 0 auto;
  padding: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  border-radius: 15px;
}

.input-field input,
.input-field textarea {
  width: 100%;
  margin-bottom: 50px;
  padding: 10px;
  font-family: "Arial";
  background-color: rgb(131, 132, 132);
  resize: none;
}

textarea {
  height: 60px;
}

::placeholder {
  color: white;
}

button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  display: block;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: all 1s;
}

button:hover {
  background-color: rgb(69, 69, 69);
  cursor: pointer;
}

*:focus {
  outline: none;
}

@media (max-width: 768px) {
  .contact {
    margin-bottom: 100px;
  }

  .contact__title {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-methods {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .input-field {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
  }

  .input-field input,
  .input-field textarea {
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    margin: 0 auto;
    width: 90%;
  }
}
