.whyUs {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.whyUs__title {
  margin-left: 450px;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 100;
  color: white;
}

.advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage {
  display: none;
  margin: 0 10px;
  padding: 20px;
  width: 500px;
  height: 200px;
  text-align: center;
  background-color: #c0bfbf;
  border-radius: 15px;
}

.advantage__id {
  text-align: left;
}

.scroll-button {
  margin: 0 10px;
  cursor: pointer;
  background-color: #85898d;
  color: white;
  transition: all 1s;
}

.scroll-button:hover {
  transform: scale(1.1);
  background-color: #909599; 
}

.scroll-button:active {
  background-color: #545658; 
}


@media (max-width: 768px) {
  .whyUs {
    margin-bottom: 20px;
  }

  .whyUs__title {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .advantages-container {
    margin: 10px;
    flex-direction: column;
  }

  .advantage {
    margin: 10px 0;
    width: 300px
  }

  .advantage__id {
    text-align: left;
  }

  .advantage-description {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px;
  }

  .scroll-button {
    margin: 10px 0;
  }
}
