.whyUs {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.whyUs__title {
  margin-left: 450px;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 100;
  color: white;
}

.advantages-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage {
  display: block;
  margin: 0 10px;
  padding: 20px;
  width: 500px;
  text-align: center;
  background-color: #444444;
  color: white;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  opacity: 80%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.advantage::before,
.advantage::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 100%;
  background: linear-gradient(to right, transparent, rgba(190, 188, 188, 0.7));
  transition: all 1s;
  opacity: 0.5;
}

.advantage::after {
  left: 100%;
  right: -100%;
  background: linear-gradient(to left, transparent, rgba(195, 192, 192, 0.7));
}

.advantage:hover::before,
.advantage:hover::after {
  left: 0;
  right: 0;
}

.advantage__id {
  text-align: left;
}

.advantage__text {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 15px;
  animation: pulse-border 2s infinite;
}

@keyframes pulse-border {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #4693c7;
  }
  100% {
    border-color: transparent;
  }
}

.order-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0c9df;
  color: white;
  border:rgb(23, 18, 18);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease, opacity 0.8s ease;
}

.order-button:hover {
  background-color: #464b4e;
  opacity: 0.9;
}

.scroll-button {
  margin: 0 10px;
  cursor: pointer;
  background-color: #85898d;
  color: white;
  transition: all 1s;
}

.scroll-button:hover {
  transform: scale(1.1);
  background-color: #909599; 
}

.scroll-button:active {
  background-color: #545658; 
}

.scroll-left {
  transition: all 1s;
}

.scroll-left:hover {
  transform: translateX(-20px);
}

.scroll-right {
  transition: all 1s;
}

.scroll-right:hover {
  transform: translateX(20px);
}

@media (max-width: 1000px) {
  .scroll-button {
    width: 60px;;
  }
}

@media (max-width: 768px) {
  .whyUs {
    margin-bottom: 20px;
  }

  .whyUs__title {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .advantages-container {
    margin: 10px;
    flex-direction: column;
  }

  .advantage {
    margin: 10px 0;
    width: 200px;
  }

  .advantage__id {
    text-align: left;
  }

  .advantage-description {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px;
  }

  .scroll-button {
    margin: 10px 0;
  }
}
