.question {
  margin-bottom: 150px;
}

.question__title {
  margin-left: 450px;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 100;
  color: white;
}

.question__block {
  margin: 0 auto;
  padding: 20px 50px;
  width: 800px;
  font-weight: 100;
  border: 2px solid white;
  border-radius: 10px;
}

.show-more-button {
  margin: 20px auto;
}

@media (max-width: 768px) {
  .question {
    margin-bottom: 80px;
  }

  .question__title {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .question__block {
    margin: 0 auto;
    padding: 10px 20px;
    width: 80%;
    border-radius: 0;
  }

  .show-more-button {
    margin: 20px auto;
  }
}
